gradio>=4.0.0
smolagents>=1.9.2
huggingface_hub>=0.16.4,<0.17  # Compatible con tokenizers
requests
python-dotenv
PyYAML
pytz
scipy>=1.8.0,<1.11  # Compatible con ydata-profiling
fastrtc[vad]
soundfile
numpy>=1.16.6,<2.0  # Compatible con mlflow y db-dtypes
pandas>=0.24.2,<2.0  # Compatible con db-dtypes
pyarrow>=4.0.0,<10.0  # Compatible con pandas-gbq
packaging>=14.3,<22.0  # Compatible con google-cloud-bigquery
